* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: conic-gradient(gold, lime);
}

.viewport {
    display: flex;
    width: 800px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    perspective: 1000px;
}

.card {
    position: relative;
    z-index: 10;
    flex-grow: 1;
    border: 1px solid #000;
    background-color: #fff;
    transition-duration: 1s;
}

.card:nth-child(1) {
    z-index: 10;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: pink;
    transform-origin: right;
}

.card:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-origin: left;
}

.left-wrapper,
.right-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left-wrapper {
    left: 0;
    border: 1px solid #000;
}

.right-wrapper {
    right: 0;
    border: 1px solid red;
}

#item-1:checked ~ .viewport .card:nth-child(1) {
    transform: rotateY(180deg);
    z-index: 20;
}

#item-2:checked ~ .viewport .card:nth-child(1) {
    transform: rotateY(0deg);
}

#item-3:checked ~ .viewport .card:nth-child(2) {
    transform: rotateY(-180deg);
    z-index: 20;
}


input {
    position: absolute;
    top: 700px;
    transform: translateX(-50%);
    margin: 0;
}

input:nth-child(1) {
    left: calc(50% - 30px);
}

input:nth-child(2) {
    left: 50%;
}

input:nth-child(3) {
    left: calc(50% + 30px);
}