* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: conic-gradient(#FF9415, #FFC709);
}

.viewport {
    position: relative;
    display: flex;
    width: 800px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    perspective: 1000px;
}

.card {
    position: absolute;
    width: 390px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 1px solid #000;
    background-color: #fff;
    transition-duration: 1s;
    transform-origin: left;
}

.card:nth-child(1) {
    z-index: 3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #6E36CA;
}

.card:nth-child(2) {
    z-index: 2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #B40A1B;
}

.card:nth-child(3) {
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: orange;
}

#item-1:checked ~ .viewport .card:nth-child(1) {
    transform: rotateY(0deg);
    z-index: 20;
}

#item-2:checked ~ .viewport .card:nth-child(1) {
    transform: rotateY(-180deg);
}

#item-3:checked ~ .viewport .card:nth-child(1),
#item-3:checked ~ .viewport .card:nth-child(2) {
    transform: rotateY(-180deg);
    z-index: 20;
}

#item-4:checked ~ .viewport .card:nth-child(1),
#item-4:checked ~ .viewport .card:nth-child(2),
#item-4:checked ~ .viewport .card:nth-child(3) {
    transform: rotateY(-180deg);
    z-index: 20;
}



input {
    position: absolute;
    top: 700px;
    transform: translateX(-50%);
    margin: 0;
}

input:nth-child(1) {
    left: calc(50% - 45px);
}

input:nth-child(2) {
    left: calc(50% - 15px);
}

input:nth-child(3) {
    left: calc(50% + 15px);
}

input:nth-child(4) {
    left: calc(50% + 45px);
}